/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$container-large-desktop: 950px;

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";




#clock {
  font-size: 100px;
  text-align: center;
  margin-top: 250px;
  font-family: Inconsolata;
  position: relative;
  color: rgba(54, 45, 255, .2);
  // background-color: rgba(84, 96, 104, .5);

}

.hours {
  &::after{
    content: ":";
    display: inline-block;
    position: absolute;
    padding-left: 4px;
    margin-top: -10px;
  }
}

.minutes {
  &::after{
    content: ":";
    position: absolute;
    padding-left: 4px;
    margin-top: -10px;
  }
}

// .seconds {
//
// }
