/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$container-large-desktop: 950px;

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";




#clock {
  font-size: 100px;
  text-align: center;
  margin-top: 250px;
  font-family: "Passion One";
  position: relative;
  color: rgba(27, 51, 255, .2);
  // background-color: rgba(84, 96, 104, .5);

}

.hours {
  display: inline-block;
  position: relative;
  // margin-right: 18px;
}

// .hours {
//   &::after{
//     content: ":";
//     display: inline-block;
//     position: absolute;
//     padding-left: 4px;
//     padding-right: 4px;
//     margin-top: -10px;
//   }
// }

.minutes{
  display: inline-block;
  position: relative;
  // margin-right: 18px;
}

// .minutes {
//   &::after{
//     content: ":";
//     position: absolute;
//     padding-left: 4px;
//     margin-top: -10px;
//   }
// }

// .seconds {
//
// }
